body {
    background-color: rgb(252, 245, 237);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}


#links {

    margin: 10px;
    display: inline-block;
}

.header {
    background-color: rgb(43, 110, 85);
    margin: 0;
    height: 50px;
    width: 100%;
    text-align: right;
    border-bottom: 5px solid red;
}

.container{
    
    text-align: center;  
    width: 100%;
    margin-top: 10px;
    height: 120px;
    display: inline-block;

}




#coming-soon {
    color: rgb(228, 197, 154);
    width: auto;
    border: 5px solid rgb(82, 78, 78);
    position: relative;
    
    font-size: 20px;
    background-color: rgb(75, 67, 53);
    display: inline-block;
}

.coming-soon1 {
    height: 100px;
    width: 100px;
    padding: 30px;
    margin: auto;
    background-color: rgb(75, 67, 53);
    border: 5px solid rgb(228, 197, 154);
    position: relative;
    right: 6%;
    bottom: 6%;
    
    

}
.coming-soon2 {
    height: 150px;
    width: 150px;
    padding: 30px;
    margin: auto;
    background-color: rgb(75, 67, 53);
    border: 5px solid rgb(43, 110, 85);
    position: relative;
    right: 5%;
    bottom: 4%;
    
    
}

.coming-soon3 {
    height:200px;
    width: 200px;
    padding: 30px;
    margin: auto;
    background-color: rgb(75, 67, 53);
    border: 5px solid rgb(228, 197, 154);
    position: relative;
    right: 4%;
    bottom: 3%;
    

}
.coming-soon4 {
    height: 250px;
    width: 250px;
    padding: 30px;
    background-color: rgb(75, 67, 53);
    position: absolute;
    top: 20%;
    left: 39%;


}

#my-new-website {
    margin: auto;
    color: dimgray;
    font-size: 40px;
}

.contacts {
    
    text-align: center;
    width: 100%;
    height: 200px;   
    background-color: orange;
    border-top: 5px solid red;
    position: absolute;
    top: 65%;
    

}

.infos, input[type="submit"] {
    position: relative;
    top: 15%;
    margin: 10px;    
    color: dimgray;
    
    
}

.informations {
    border: 4px solid rgb(204, 170, 170);
    border-radius: 1cm;
    height: 110px;
    width: 410px;
    margin: auto;
    
    
    

}

p {
    color: dimgray;   
}
#random-sentence {
    width: 100%;
    position: absolute;
    top: 63%;
    
  
}

footer {
    background-color: rgb(43, 110, 85);
    margin: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;

}

#text-field {
    width: 300px;
    background-color: white;
    
}


input[type="submit"] {
    background-color: rgb(71, 68, 62);
    color: white;
    border: 0;
    

}

#contact-me {
    margin: 20px;
    color: dimgrey;
}

.final {
    display: inline-block;
    color: white;

}

a {
    color: white;
    text-decoration: none;
}